# Environments
venv/
env/
.env
__pycache__/

# Node
node_modules/
frontend/node_modules/
dist/
build/
.npm/

# Datasets & ML Models
dataset/
*.csv
*.joblib

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
