@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hud-border {
      clip-path: polygon(
          0 0, 
          100% 0, 
          100% calc(100% - 20px), 
          calc(100% - 20px) 100%, 
          0 100%
      );
  }
  .scanline {
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2));
      background-size: 100% 4px;
      pointer-events: none;
      z-index: 10;
      opacity: 0.15;
  }
  .text-glow {
      text-shadow: 0 0 10px rgba(6, 249, 249, 0.5);
  }
}
